body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

#Inicio {
    margin-top: 16px;
}

#Fim {
    margin-top: 16px;
    margin-bottom: 16px;
}

#Passo {
    margin-bottom: 16px;
}

footer {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-style: italic;
}

img {
    width: 500px;
}